@model WebHotel.Models.ModelsView.Booking_View


<form  class="probootstrap-form" asp-controller="Home" asp-action="BookingRoom" method="post">
    <div class="form-group">
        <div class="row mb-3">
            <div class="col-md">
                <div class="form-group">
                    <label for="id_label_single">To:</label>

                    <label for="id_label_single" style="width: 100%;">
                        @*<select class="js-example-basic-single js-states form-control" id="id_label_single" style="width: 100%;">
                            <option value="Australia">Australia</option>
                            <option value="Japan">Japan</option>
                            <option value="United States">United States</option>
                            <option value="Brazil">Brazil</option>
                            <option value="China">China</option>
                            <option value="Israel">Israel</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Canada">Canada</option>
                            <option value="Chile">Chile</option>
                            <option value="Chile">Zimbabwe</option>
                        </select>*@
                        <input type="text" class="form-control" style="width: 100%" id="area" asp-for="Address"/>
                    </label>

                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="id_label_single3">Number Of People</label>
                    <div class="probootstrap_select-wrap">
                        <label for="id_label_single3" style="width: 100%;">
                            <select class="js-example-basic-single js-states form-control" id="id_label_single3" style="width: 100%;" asp-for="NbPeople">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- END row -->
        <div class="row mb-5">
            <div class="col-md">
                <div class="form-group">
                    <label for="probootstrap-date-departure">Departure</label>
                    <div class="probootstrap-date-wrap">
                        <span class="icon ion-calendar"></span>
                        <input type="text" id="probootstrap-date-departure" class="form-control" placeholder="" asp-for="InDate" readonly> 
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="probootstrap-date-arrival">Arrival</label>
                    <div class="probootstrap-date-wrap">
                        <span class="icon ion-calendar"></span>
                        <input type="text" id="probootstrap-date-arrival" class="form-control" placeholder="" asp-for="OutDate" readonly>
                    </div>
                </div>
            </div>
        </div>
        <!-- END row -->
        <div class="row">
            <div class="col-md">
                <input type="submit" value="Search" class="btn btn-primary btn-block">
            </div>
        </div>
    </div>
</form>