@model Web_HotelManagement.Models.ModelsView.Booking_View

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login Form</h1>

<form action="/" method="post">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>UserName: </td>
                <td>
                    <input type="text" asp-for="Email" />
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" asp-for="Password" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" class="btn btn-outline-danger" />
                </td>
            </tr>
        </tbody>
    </table>
</form>